
<!DOCTYPE html>
<html>


    <head>
        {% include 'header.html' %}
    </head>

    <body>
        {% include 'navbar.html'%}

        <div class="container" style="margin: 10%">
            <h1 class="title is-1 has-text-centered">DjanYolo</h1>

            <h3 class="subtitle is-3 has-text-centered">Web based Annotation and Yolo Dataset Management Tool</h3>

            <a href="{% url 'upload' %}">
                <button class="button is-warning has-text-centered" style="margin-left: auto;margin-right: auto;display: block;">Start</button>
            </a>
        </div>


        {% include 'footer.html'%}

    </body>

</html>
