<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#" style="font-size: 35px">
            DjanYOLO
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          {% url 'home' as home %}
          <a href="{{home}}" class="navbar-item  {% if request.path == home %} is-active {% endif %}">
              Home
          </a>

          {% url 'upload' as upload %}
          <a href="{% url 'upload' %}" class="navbar-item {% if request.path == upload %} is-active {% endif %}">
              Upload
          </a>
        </div>

        <div class="navbar-end">
          {% url 'admin' as admin %}
          <a href="/admin" class="navbar-item {% if request.path == admin %} is-active {% endif %}">
              Admin
          </a>
        </div>
    </div>
</nav>
