
<!DOCTYPE html>
<html>

        
    <head>
        {% include 'header.html' %}
        {% load static %}
        <link href="{% static 'css/Annotate.css' %}" rel="stylesheet">

        <script src="{% static 'js/canvas.min.js' %}"></script>

        <script src="{% static 'js/Annotate.js' %}"></script>

        <script src="{% static 'js/jszip.min.js' %}"></script>

    </head>

    <body>
        {% include 'navbar.html'%}

        <section class="section">
            {% if message %}
                <article class="message {{msg_class}}" id="message">
                    <div class="message-header">
                        <p>Message</p>
                        <button class="delete" onclick="document.getElementById('message').style.display='none'" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {{message}}
                    </div>
                </article>

            {% endif %}

            <div class="container">

            <div class="left">
            <form action="" id="annotate-form" method="POST" enctype="multipart/form-data">
                <label for="images">Images:</label>

                {% csrf_token %}
                <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" id="images" name="images" accept="image/jpeg, image/png" multiple />
                    <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                    </span>
                </label>
                </div>
                <input type="button" name="cropImages" id="cropImages" class="button is-warning" value="Crop & Save" />

                <br />

                <label for="imageSearch">Search:</label>
                <input type="text" class="input" id="imageSearch" name="imageSearch" />

                <label for="imageList"></label>
                <select name="imageList" id="imageList" size="10" multiple></select>

                <div id="imageInformation"></div>
                <hr />

                <label for="classes">Classes:</label>
                <input type="file" id="classes" name="classes" hidden="hidden" accept="text/plain" />
                <label for="classList"></label>
                <select name="classList" id="classList" size="10" multiple>
                    {% for i in class_table%}
                    <option value={{i.name}}>{{i.name}}</option>
                    {% endfor %}
                </select>

                <div id="bboxInformation"></div>
                <hr />

                <input type="text" id="annotate-files" name="annotate-files" hidden="hidden"/>

                <div id="voc">
                    <input type="button" class="button is-warning" name="saveBboxes" id="saveBboxes" value="Upload & Save" />
                </div>
                <hr />
            </form>
        </div>

                <div class="right" id="right">
                    <canvas id="canvas"></canvas>
                    <canvas id="hiddenCanvas"></canvas>
                </div>
            </div>
        </section>

        {% include 'footer.html'%}

    </body>

</html>